<p id="notice"><%= notice %></p>

<h1>Enhancements</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enhancements.each do |enhancement| %>
      <tr>
        <td><%= enhancement.description %></td>
        <td><%= enhancement.cost %></td>
        <td><%= link_to 'Show', enhancement %></td>
        <td><%= link_to 'Edit', edit_enhancement_path(enhancement) %></td>
        <td><%= link_to 'Destroy', enhancement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enhancement', new_enhancement_path %>
