<div>
  <b>Gold:</b> <%=@character.gold%>
  <a href="javascript:;">
    <i class="material-icons md-18" data-open="editGold">account_balance</i>
  </a><br />
  <div class="reveal" id="editGold" data-reveal>
    <br /><br />
    <%= form_with(url: modify_gold_character_path, scope: :character,method: :put, local: true) do |form| %>
      <%=form.hidden_field :id, value: @character.id%>
      <div class="input-group">
        <span class="input-group-label">
          <i class="fas fa-donate fa-2x"></i>
        </span>
        <%=form.number_field :gold, value: 0, class: "input-group-field" %>
        <div class="input-group-button">
          <%= form.submit "Submit", class: "button expanded" %>
        </div>
      </div>
      <p class="help-text">A positive number adds gold, a negative one removes that amount.</p>
    <%end%>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <b>Experience:</b> <%=@character.experience%>
  <a href="javascript:;">
    <i class="material-icons md-18" data-open="editXp">account_balance</i>
  </a><br />
  <div class="reveal" id="editXp" data-reveal>
    <br /><br />
    <%= form_with(url: modify_xp_character_path, scope: :character,method: :put, local: true) do |form| %>
      <%=form.hidden_field :id, value: @character.id%>
      <div class="input-group">
        <span class="input-group-label">
          XP
        </span>
        <%=form.number_field :experience, value: 0, class: "input-group-field" %>
        <div class="input-group-button">
          <%= form.submit "Submit", class: "button expanded" %>
        </div>
      </div>
      <p class="help-text">A positive number adds experience, a negative one removes that amount.</p>
    <%end%>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <b>Max Health:</b> <%=@character.max_health%><br />
  <b>Hand Size:</b> <%=@character.character_class.hand_size%><br />
  <b>Check Marks:</b>
  <%= link_to add_check_character_path(@character), data: { confirm: 'Are you sure you want to add a check?' } do%>
    <i class="material-icons md-18">plus_one</i><br />
  <%end%>
  <%(1..18).each do |i|%>
    <%if i <= @character.check_marks %>
      <i class="material-icons md-18">check_box</i>
    <%else%>
      <i class="material-icons md-18">check_box_outline_blank</i>
    <%end%>

    <%if i%9 == 0%>
      <br />
    <%elsif i%3 == 0%>
      |
    <%end%>
  <%end%>
  <br />
  <b>Notes:</b>
  <a href="javascript:;">
    <i class="material-icons md-18" data-open="editNotes">create</i>
  </a><br />
  <%=raw @character.notes%>
  <div class="reveal" id="editNotes" data-reveal>
    <%= form_with(url: edit_notes_character_path, scope: :character, method: :put, local: true) do |form| %>
      <%=form.hidden_field :id, value: @character.id%>
      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes, rows: 8%>
      </div>

      <div class="actions">
        <%= form.submit "Update Notes", class: "button expanded" %>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
  </div>
  <hr />
</div>
