<h5>Items</h5>
<div class="grid-x grid-margin-x">
  <%@character.items.order(:item_type).each do |item|%>
    <div class="cell small-12 medium-4">
      <button class="button" data-open="item_<%=item.id%>" style="padding:0"><%=image_tag item.getImage%></button>
      <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
        <%=image_tag item.getImage%>
        <%=link_to (sell_item_character_path @character, item_id: item.id), class: "button expanded alert" do%>
          Sell item for <%=item.price%> gold
        <%end%>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <%end%>
</div>
