<h3>Bank transaction for <%=@character.name%></h3>
<hr />
<%= form_with(url: modify_gold_character_path, scope: :character,method: :put, local: true) do |form| %>
  <%=form.hidden_field :id, value: @character.id%>
    <div class="input-group">
      <span class="input-group-label">
        <i class="fas fa-donate fa-2x"></i>
      </span>
      <%=form.number_field :gold, value: 0, class: "input-group-field" %>
      <div class="input-group-button">
        <%= form.submit "Submit", class: "button expanded" %>
      </div>
    </div>
    <p class="help-text">A positive number adds gold, a negative one removes that amount.</p>
  <%end%>
</div>
