<h2>Add Enhancement to a Card</h2>
You have <%=@character.gold%> Gold <br />
Purchased <%=@character.ability_cards_enhancements.count%> of current maximum <%=@character.party.prosperity.floor%>
<hr />
<%= form_with(url: buy_enhancements_character_path, scope: :ability_cards_enhancements,method: :put, local: true) do |form| %>
  <%=form.hidden_field :character_id, value: @character.id%>
  <div class="grid-x grid-margin-x align-spaced">
    <div class="cell small-12 medium-3 auto">
      <div class="callout alert">
        <h4>Choose an Enhancement </h4>
        <p>Note: You must manually calculate the cost for the add hex action and subtract that gold from your pile. </p>
        <%Enhancement.all.each do |enhance|%>
          <fieldset class="cell">
            <%=form.radio_button :enhancement_id, enhance.id, required: true%>
            <label for="ability_cards_enhancements_enhancement_id_<%=enhance.id%>">
              <%if enhance.cost > 0%>
                (<%=enhance.cost%>)
              <%end%>
              <%=enhance.description%>
            </label>
          </fieldset>
        <%end%>
      </div>
      <hr />
      <h4>Additional Cost</h4>
      <b>For Card Level</b>
      <table>
        <%(1..9).each do |i|%>
          <tr>
            <th><%=i%></th>
            <td><%=AbilityCardsEnhancement.level_costs(i)%></td>
          </tr>
        <%end%>
      </table>
      <b>For Other Enhancements</b>
      <i>Note: this is per half of card</i>
      <table>
        <%(0..3).each do |i|%>
          <tr>
            <th><%=i%></th>
            <td><%=AbilityCardsEnhancement.previous_enhancements(i)%></td>
          </tr>
        <%end%>
      </table>
    </div>
    <div class="cell small-12 medium-9 auto">
      <h4>Choose a Card </h4>
      <div class="grid-x grid-margin-x ">
      	<%@character.ability_cards.available.order(:level, :name).each do |card|%>
      		<div class="cell small-12 medium-3 auto">
      			<div class="card">
              <%=render card, card: card%>
      		   	<div class="card-section grid-x align-bottom">
                <fieldset class="cell">
                  <%=form.radio_button :ability_card_id, card.id, required: true%> <label for="ability_cards_enhancements_ability_card_id_<%=card.id%>"><%=card.name%></label>
                </fieldset>
      		    </div>
      			</div>
      		</div>
      	<%end%>
      </div>
    </div>
    <div class="cell small-12">
      <div class="callout warning">
        <fieldset class="cell">
          <%=form.radio_button :is_top, true, required: true%>
          <label for="ability_cards_enhancements_is_top_true">Enhance Card Top</label>
          <%=form.radio_button :is_top, false, required: true%>
          <label for="ability_cards_enhancements_is_top_false">Enhance Card Bottom</label>
        </fieldset>
        <%=form.check_box :is_multi_target%>
        <label for="ability_cards_enhancements_is_multi_target" type="checkbox">Does this target multiple enemies? (not via hex)</label>
      </div>
      <%= form.submit "Purchase Enhancement", class: "button expanded" %>
    </div>
  <%end%>
</div>
