<div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
  <div class="cell small-12 medium-6">
    <h5>Attack Modifier Cards</h5>
    <h6>Cards In Deck:  <%=@character.active_attack_cards.in_deck.count%></h6>
  </div>
  <div class="cell small-12 medium-6">
    <%if session[:shuffle]%>
      <%=link_to "Shuffle Deck at end of Round", shuffle_deck_character_scenario_path(@character_scenario), class: "button expanded"%>
    <%end%>
  </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell small-12 medium-5">
    <%if @character_scenario.character.active_attack_cards.in_deck.count > 0%>
      <%= form_with(url: draw_attack_card_character_scenario_path, method: :put, local: true) do |form| %>
        <%=form.hidden_field :character_scenario_id, value: @character_scenario.id%>
        <%= button_tag(type: 'submit', name: "attack_draw") do %>
          <%=image_tag AttackCard.back%>
        <% end %>
      <%end%>
    <%else%>
      <i class="material-icons md-180">cancel_presentation</i>
    <%end%>
  </div>
  <div class="cell small-12 medium-5">
    <%draw_deck = @character_scenario.attack_deck_draw_order%>
    <%if draw_deck.size > 0%>
      <%card_drawn = ActiveAttackCard.find(draw_deck.last)%>
      <a href="javascript:;" data-open="attack_cards_drawn">
        <%=image_tag card_drawn.getImage%>
      </a>
      <div class="reveal large" id="attack_cards_drawn" data-reveal>
        <div class="grid-x grid-padding-x grid-padding-y">

          <%draw_deck.each do |active_card_id|%>
            <%active_card = ActiveAttackCard.find(active_card_id)%>
            <div class="cell small-12 medium-2">
              <%=image_tag active_card.getImage%>
            </div>
          <%end%>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>
  </div>
  <div class="cell small-12 medium-2">
    <%if draw_deck.length > 1%>
      <%prev = draw_deck[(draw_deck.length - 2)]%>
      <%prev_card = ActiveAttackCard.find(prev)%>
      <%=image_tag prev_card.getImage, width: "70px"%><br /><br />
    <%end%>
    <%=link_to "Bless", add_to_attack_deck_character_scenario_path(@character_scenario, card: "bless"), class: "button expanded"%>
    <%=link_to "Curse", add_to_attack_deck_character_scenario_path(@character_scenario, card: "curse"), class: "button alert expanded"%>
    <a href="javascript:;" data-open="attack_cards_add">Add Other Card</a>
    <div class="reveal" id="attack_cards_add" data-reveal>
      <%AttackCard.where(character_class: nil).each do |card|%>
        <%=link_to card.name, add_to_attack_deck_character_scenario_path(@character_scenario, card: card.name), class: "button expanded"%>
      <%end%>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
