<!DOCTYPE html>
<html>
  <head>
    <title>GloomhavenPartyManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% stylesheet_pack_tag 'stylesheets' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Gloomhaven Card Manager</li>

          <li><%=link_to "Home", root_path%></li>
          <li><a href="#">Start Game</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%if logged_in?%>
            <li><%=link_to "Log Out", logout_path%></li>
          <%else%>
            <%= google_sign_in_button 'Sign in with Google', proceed_to: create_login_url, class: "button" %>
          <%end%>
        </ul>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
