<p id="notice"><%= notice %></p>

<h1>Ability Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Initiative</th>
      <th>Level</th>
      <th>Image</th>
      <th>Character class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ability_cards.each do |ability_card| %>
      <tr>
        <td><%= ability_card.name %></td>
        <td><%= ability_card.initiative %></td>
        <td><%= ability_card.level %></td>
        <td><%= ability_card.image %></td>
        <td><%= ability_card.character_class_id %></td>
        <td><%= link_to 'Show', ability_card %></td>
        <td><%= link_to 'Edit', edit_ability_card_path(ability_card) %></td>
        <td><%= link_to 'Destroy', ability_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability Card', new_ability_card_path %>
