<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability_card.name %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @ability_card.initiative %>
</p>

<p>
  <strong>Level:</strong>
  <%= @ability_card.level %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ability_card.image %>
</p>

<p>
  <strong>Character class:</strong>
  <%= @ability_card.character_class_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @ability_card.active %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @ability_card.counter %>
</p>

<p>
  <strong>Max counter:</strong>
  <%= @ability_card.max_counter %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ability_card.status %>
</p>

<p>
  <strong>Available:</strong>
  <%= @ability_card.available %>
</p>

<p>
  <strong>Chosen:</strong>
  <%= @ability_card.chosen %>
</p>

<%= link_to 'Edit', edit_ability_card_path(@ability_card) %> |
<%= link_to 'Back', ability_cards_path %>
