<h2><%=@character.name.titleize%>  <%=image_tag @character.character_class.getIconImage, width: "50em"%> <small><%=@character.character_class.name%> <i class="material-icons">filter_<%=@character.level%></i></small></h2>
<br />
<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3 right">
    <%=render "characters/manage_partials/assets"%>
    <div>
      <%if active_scenario.nil?%>
        <%=link_to "Start New Scenario", new_scenario_path, class: "button expanded"%>
        <hr />
        <%=render "characters/manage_partials/gloomhaven_links"%>
      <%elsif active_scenario.rounds.count > 1%>
        <% char_s = @character.character_scenarios.where(scenario: active_scenario).first%>
        <%if !char_s.nil?%>
          <%=link_to "Play Scenario", play_round_character_scenario_path(char_s), class: "button expanded"%>
        <%end%>
      <%else%>
        <%@character_scenario = CharacterScenario.where(character: @character, scenario: active_scenario)%>
        <%if @character_scenario.empty?%>
          link to join scenario
        <%else%>
          <%=link_to "Setup Scenario", scenario_setup_character_scenario_path(@character_scenario.first), class: "button expanded"%>
          <%=link_to "Play Scenario", play_round_character_scenario_path(@character_scenario.first), class: "button expanded"%>
          <hr />
          <%=render "characters/manage_partials/gloomhaven_links"%>
        <%end%>
      <%end%>
    </div>
    <div>
      <%=image_tag @character.getQuestImage rescue "Choose a Quest"%>
    </div>
  </div>
  <div class="cell small-12 medium-9 right">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-shrink">
        <%=render "characters/manage_partials/perks"%>
      </div>
      <div class="cell small-12 medium-auto">
        <%=render "characters/manage_partials/items"%>
      </div>
    </div>
    <div class="cell small-12">
      <hr />
      <%=render "characters/manage_partials/ability_cards"%>
    </div>
  </div>
</div>
