<h3>Welcome, <%=@character.name.titleize%>, to the Shop!</h3>
You have <b><%=@character.gold%></b> gold to spend.
<hr />
<%= form_with(url: buy_items_character_path, scope: :character,method: :put, local: true) do |form| %>
  <%=form.hidden_field :id, value: @character.id%>
    <div class="grid-x grid-margin-x">
      <%@items.each do |item|%>
        <div class="cell small-12 medium-2">
          <div class="card">
            <a href="javascript:;" class="button"data-open="item_<%=item.id%>" style="padding:0">
               <%=image_tag item.getImage%>
            </a>
            <span style="margin-left:5px">
              <%=check_box_tag 'items_to_buy[]', item.id, false, id: "buy_#{item.id}"%>
              <label for="buy_<%=item.id%>" type="checkbox" style="margin-left:0">
                (<%=item.number%>) <%=item.name%>
              </label>
            </span>
            <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
              <%=image_tag item.getImage%>
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <%= form.submit "Purchase", class: "button expanded" %>
  <%end%>
</div>
