<%= form_with(model: scenario, local: true) do |form| %>
  <% if scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

      <ul>
        <% scenario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :party_id %>
    <%= form.collection_select :party_id, Party.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%if scenario.persisted?%>
      <%= form.check_box :active %>
    <%else%>
      <%= form.check_box :active, checked: true %>
    <%end%>

  </div>


  <div class="actions">
    <%if scenario.persisted?%>
      <%= form.submit "Update Scenario", class: "button expanded"%>
    <%else%>
      <%= form.submit "Create Scenario", class: "button expanded"%>
    <%end%>
  </div>
<% end %>
