<h3><%=@scenario.display%></h3>
<div class="grid-x grid-margin-x align-spaced">
  <%=link_to "Reset Characters", reset_characters_scenario_path(@scenario),method: :put, class: "cell small-12 medium-4 button", title: "Add one of each party's active characters to the scenario"%>
  <div class="cell small-12 medium-4">
    <%=link_to "Start Scenario", create_first_round_scenario_path(@scenario), class: "button expanded success"%>
  </div>
</div>
<div class="cell grid-x grid-margin-x">
  <%@scenario.character_scenarios.each do |character_s|%>
    <%character = character_s.character%>
    <div class="card cell small-12 medium-6 flex-container">
      <div class="card-section callout text-center" style="margin: 0;">
        <div class="cell grid-x grid-margin-x align-justify">
          <div class="cell auto text-left">
            <b>Name: </b><%=character.name%><br />
            <b>Health:</b> <%=character_s.health%><br />
          </div>
          <div class="cell auto text-left">
            <b>Ready?</b>
            <%if character_s.experience == 0%>
              True
            <%else%>
              False
            <%end%><br />
            <b>Attack Deck Size:</b>	<%=character.active_attack_cards.count%>
          </div>
          <div class="cell auto text-right">
            <%=link_to "<i class=\"fas fa-trash-alt\ fa-3x\"></i>".html_safe, remove_character_character_scenario_path(character_s), title: "Remove character from the scenario", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
      <%=link_to scenario_setup_character_scenario_path character_s, title: "Go to character's scenario setup page" do%>
        <%= image_tag character.character_class.getCharacterMatFrontLocation%>
      <%end%>
    </div>
  <%end%>
</div>
