Set up the character for the current scenario
<h2><%=@character.name.titleize%>  <%=image_tag @character.character_class.getIconImage, width: "50em"%> <small><%=@character.character_class.name%> <i class="material-icons">filter_<%=@character.level%></i></small></h2>
<br />
<%= form_with(url: setup_character_character_scenario_path(@character_scenario) ,method: :put, local: true) do |form| %>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-3 right">
      <h5>Perks</h5>
      <%@character.perks.each do |perk|%>
        <%perk.count.times do |i|%>
          <%if (i+1) <= perk.applied%>
            <i class="material-icons md-18">check_box</i>
          <%else%>
            <i class="material-icons md-18">check_box_outline_blank</i>
          <%end%>
        <%end%>
        <%=perk.description%><br />
      <%end%>
    </div>
    <div class="cell small-12 medium-9 right">
      <h5>Choose Items</h5>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-4 card">
          <b>Choose a Helm:</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.head.each do |item|%>
              <div class="cell small-12 medium-6">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=radio_button_tag :helm_id, item.id, checked: item.is_active%>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="helm_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>
            <div class="cell auto">
              <%=form.radio_button :helm_id, nil, checked: false%>
              <label for="helm_id">
                <b>None</b>
              </label>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-4 card">
          <b>Choose your Armor:</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.armor.each do |item|%>
              <div class="cell small-12 medium-6">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=radio_button_tag :armor_id, item.id, checked: item.is_active %>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="armor_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>
            <div class="cell auto">
              <%=form.radio_button :armor_id, nil, checked: false%>
              <label for="armor_id">
                <b>None</b>
              </label>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-4 card">
          <b>Choose your Boots:</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.boots.each do |item|%>
              <div class="cell small-12 medium-6">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=radio_button_tag :boots_id, item.id, checked: item.is_active%>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="boots_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>
            <div class="cell auto">
              <%=form.radio_button :boots_id, nil, checked: false%>
              <label for="boots_id">
                <b>None</b>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 ">
          Choose Either 2 One Handed or 1 Two Handed
        </div>
        <div class="cell small-12 medium-6 card">
          <b>Choose your Weapon (Choose 2):</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.onehand.each do |item|%>
              <div class="cell small-12 medium-4">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=form.check_box :weapon_id, { multiple: true, checked: item.is_active }, item.id, false%>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="weapon_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="cell small-12 medium-6 card">
          <b>Choose your Weapon (Choose 1):</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.twohand.each do |item|%>
              <div class="cell small-12 medium-4">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=radio_button_tag :weapon_two_id, item.id, checked: item.is_active%>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="weapon_two_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>
            <div class="cell auto">
              <%=form.radio_button :weapon_two_id, nil, checked: false%>
              <label for="boots_id">
                <b>None</b>
              </label>
            </div>
          </div>
        </div>

        <div class="cell small-12 card">
          <b>Choose your Items (Max  <%=(@character.level/2).ceil%>):</b>
          <div class="grid-x grid-padding-x">
            <%@character.items.small_item.each do |item|%>
              <div class="cell small-12 medium-2">
                <div class="grid-x">
                  <div class="cell auto">
                    <%=form.check_box :items_id, { multiple: true, checked: item.is_active }, item.id, false%>
                  </div>
                  <div class="cell shrink">
                    <a href="javascript:;">
                      <i class="material-icons md-18" data-open="item_<%=item.id%>">info</i>
                    </a>
                    <div class="tiny reveal" id="item_<%=item.id%>" data-reveal>
                      <%=image_tag item.getImage%>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <label for="items_id_<%=item.id%>">
                    <%=image_tag item.getImage%>
                    <br />
                    <b><%=item.name%></b>
                  </label>
                </div>
              </div>
            <%end%>

          </div>
        </div>

      </div>
      <hr />
      <h5>Ability Cards <small>Choose <%=@character.character_class.hand_size%></small></h5>
      <div class="grid-x grid-padding-x">
        <%@character.ability_cards.where(available: true).each do |card|%>
          <div class="cell small-12 medium-3">
            <div class="grid-x">
              <div class="cell auto">
                <%=form.check_box :ability_cards_id, { multiple: true, checked: card.active }, card.id, false%>
              </div>
              <div class="cell shrink">
                <a href="javascript:;">
                  <i class="material-icons md-18" data-open="ability_cards_<%=card.id%>">info</i>
                </a>
                <div class="tiny reveal" id="ability_cards_<%=card.id%>" data-reveal>
                  <%=render card, card: card%>
                  <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <label for="ability_cards_id_<%=card.id%>">
                <%=render card, card: card%>
                <br />
                <b><%=card.name%></b>
              </label>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
<%= javascript_tag do%>
  $("input[name='items_id[]'").change(function(){
      var max= <%=j (@character.level/2).ceil %>;
      if( $("input[name='items_id[]']:checked").length == max ){
          $("input[name='items_id[]']").attr('disabled', 'disabled');
          $("input[name='items_id[]']:checked").removeAttr('disabled');
      }else{
           $("input[name='items_id[]']").removeAttr('disabled');
      }
  });
<%end%>
<%= javascript_tag do%>
  $("input[name='ability_cards_id[]'").change(function(){
      var max= <%=j @character.character_class.hand_size %>;
      if( $("input[name='ability_cards_id[]']:checked").length == max ){
          $("input[name='ability_cards_id[]']").attr('disabled', 'disabled');
          $("input[name='ability_cards_id[]']:checked").removeAttr('disabled');
      }else{
           $("input[name='ability_cards_id[]']").removeAttr('disabled');
      }
  });
<%end%>
