<%= form_with(model: perk, local: true) do |form| %>
  <% if perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
        <% perk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :character_class_id %>
    <%= form.collection_select :character_class_id, CharacterClass.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :applied %>
    <%= form.number_field :applied %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
