<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @perk.description %>
</p>

<p>
  <strong>Count:</strong>
  <%= @perk.count %>
</p>

<p>
  <strong>Character class:</strong>
  <%= @perk.character_class_id %>
</p>

<p>
  <strong>Effects:</strong>
  <%= @perk.effects %>
</p>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
