<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @perk.description %>
</p>

<p>
  <strong>Total Available Count:</strong>
  <%= @perk.count %>
</p>

<p>
  <strong>Character class:</strong>
  <%= @perk.character_class_id %>
</p>

<p>
  <strong># Applied:</strong>
  <%= @perk.applied %>
</p>


<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
