<div class="grid-x grid-padding-y">
	<% if logged_in? %>
		<div class="cell small-12">
			<%if active_party.active_scenario%>
				<%=link_to "Enter #{active_scenario.name}",  play_scenario_path(active_scenario), class: "button expanded"%>
			<%else%>
				<%=link_to "Start a new Scenario", new_scenario_path, class: "button expanded"%>
			<%end%>
		</div>
		<div class="cell">
			<h5>Choose your Character or <%=link_to "switch parties", party_select_path%></h5>
			<div class="grid-x grid-margin-x">
				<%current_player.characters.each do |character|%>
					<%link_path = ""%>
					<%if active_scenario.nil?%>
						<%link_path = character_manage_path%>
					<%else%>
						<%link_path = ""%>
					<%end%>
					<%=link_to character, class:"cell small-12 medium-6 flex-container auto"  do%>
						<div class="card">
						  <div class="">
						    <%= image_tag character.character_class.getCharacterMatFrontLocation%>
						  </div>
						  <div class="card-section callout text-center">
						    <h4><%=character.name.titleize%></h4>
						  </div>
						</div>
					<%end%>
				<%end%>
				<div class="cell small-12  medium-6 large-4 flex-container auto">
					<div class="card">
						##TODO new character select options
						<%= link_to new_character_path, class: "cell auto" do %>
							<br /> <br />
						  <div class="grid-x align-middle">
						  	<span class="cell text-center">
						  	<i class="fas fa-plus fa-5x"></i>
						    <h3><%= "Create a New Character!"%></h3>
						  </span>
						  </div>
						<%end%>
					</div>
							
				</div>
			</div>
		</div>
	<%else%>
		<br />
		<div class="cell small-1 medium-8 float-center">
			<h2> Welcome to Gloomhaven Card Manager</h2>
			<%= google_sign_in_button 'Please sign in with Google!', proceed_to: create_login_url, class: "button float-center" %>
		<div>
	<%end%>
</div>
