<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Image</th>
      <th>Character</th>
      <th>Is Unlocked?</th>
      <th>Is active</th>
      <th>Counter</th>
      <th>Counter max</th>
      <th>Usage state</th>
      <th>Used</th>
      <th>Type</th>
      <th>Negative effects</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.number %></td>
        <td><%= item.image %></td>
        <td><%= item.character_id %></td>
        <td><%= item.is_unlocked %></td>
        <td><%= item.is_active %></td>
        <td><%= item.counter %></td>
        <td><%= item.counter_max %></td>
        <td><%= item.usage_state %></td>
        <td><%= item.used %></td>
        <td><%= item.item_type %></td>
        <td><%= item.negative_effects %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
