<!DOCTYPE html>
<html>
  <head>
    <title>GloomhavenPartyManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% stylesheet_pack_tag 'stylesheets' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <%=render "layouts/nav"%>
    <div class="grid-container fluid">
      <%=render "layouts/notice"%>
      <%= yield %>
    </div>
  </body>
</html>
